<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    </head>
<body>
    <div class="container m-0" style="position: relative; bottom: 5em; margin-top: 7em;">
        <div id='messages'></div>
    </div>
    <div id='chat-input'>
        <div class="row">
            <div class="col-1">
                <select class="form-select" id="author-select" aria-label="Default select example">

                </select>
            </div>
            <div class="col-10">
                <input type="text" class="form-control" id="message-in" name="message-in" placeholder="Message..."></input>
            </div>
            <div class="col-1">
                <button type="button" class="btn" onclick="send_message()"> Send</button>
            </div>
        </div>
    </div>
    <script src="js/jquery36.js"></script>
    <script src="js/rest.js"></script>
    <script src="js/chatroom.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>